* {
    padding: 0;
    margin: 0;
  }
  body {
    font-family: "Poppins", sans-serif;
  }
  
  /* navbar */
  body .navbar {
    font-weight: 600;
  }
  .nav-item {
    margin: auto 20px;
  }
.container {
    padding: 100px;
    margin: 100px;
    margin-left:70px;
    
   
} 
.form-control {
    border-color: #177E89;
}
.form-select{
    border-color: #177E89;
}
.card img {
  margin: 10px;
  margin-left: 45%;
}

.btn{
  background: #177E89;
  border-radius: 50px;
  color: white;
}
.btn-foto{
  margin-left: 45%;
}
#stop{
  background: #177E89;
  border-radius: 50px;
  color: white;
  border-color: white;
  font-family: "Poppins";
  width: 40%;
  
}
#reset{
  background: #177E89;
  border-radius: 50px;
  color: white;
  border-color: white;
  font-family: "Poppins";
  width: 40%;

  margin-left: 19%;
}
#cameraContainer{
  margin-left: 18%;
  margin-bottom: 4%;
}
.snap_thumb{
  width: 150%;
}
#cameraContainer_toolbox_1695108509489{
  margin-left: -40%;
}


@media (max-width:768px) {
  .kartu {
    width: 800px;
    margin-left: -1%;
    margin-top: 1%;
     }
  .card-body {
    font-size: 12px;
  }
  .card-body img{
    margin-left:45%;
    width: 13%;
  }

  .btn-foto{
    margin-top: -2%;
    margin-left:42%;
    font-size:70%;
    width: 20%;
  }
  .btn{
    font-size:70%;
    
  }
  
  .form-select{
    
    font-size:10px;
  }
  .form-control{
    font-size:10px;
  }
  .idpilih{
    width: 28%;
    margin-left: -1%;
    margin-top: 1%;
  }
  .ID{
    width: 420px;
   margin-top: -8%;
  }
  .nama{
    width: 100%;
  }
  .tempat{
    width: 100%;
  }
  .pos{
    width: 100%;
  }
  .alamat{
    width: 100%;
  }
  .telp{
    width: 100%;
  }
  .rt{
    width: 100%;

  }
  .JK{
    width: 50%;
    
  }
  .GD{
    width: 50%;
    
  }
  .pekerjaan{
    width: 100%;
  }
  .kota{
    width: 100%;
  }
  .kecamatan{
    width: 100%;
  }
  .kelurahan{
    width: 100%;
  }
 
}
