body {
  font-family: 'Poppins', sans-serif;
}

/* navbar */
body .navbar {
  font-weight: 600;
}
.nav-item {
  margin: auto 20px;
}

/* navbar itemm */

/* slide gambar */
.gambarGerak {
  box-sizing: content-box;
}

.carousel-item img {
  width: 100% !important;
  margin-top: 7vh !important;
}

.list-card {
  float: left !important;
}

.aktifitas {
  padding: 20px 40px;
  margin-top: -200px;
  z-index: 1000;
  position: relative;
}
/* slide gambar end */

/* isi */
.profile {
  margin-top: -150px;
  padding-top: 150px;
  z-index: 999;
}
/* isi end */

.aktifitas.container {
  max-width: 1000px;
  padding: 20px;
}
.aktifitas.container .btn {
  background-color: #177e89;
}

/* agenda */
.agenda-judul {
  margin-top: 20px;
  padding: 20px 20px 100px 20px;
  background: rgb(8, 76, 97);
}

.agenda-isi {
  background: rgb(23, 126, 137);
}

.agenda-isi .row .col-12 {
  margin-top: -70px;
}

.btn-lihat-kegiatan {
  background: rgb(8, 76, 97);
}
/* agenda end */

/* media quere */
@media (max-width: 768px) {
  .carousel-item img {
    width: 100%;
    height: auto;
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .gambarGerak {
    display: none;
  }

  .aktifitas.container {
    border-radius: 0;
    margin-top: 70px;
  }

  .profile {
    margin-top: 20px;
  }
}
