body {
  font-family: 'Poppins', sans-serif;
}

/* navbar */
body .navbar {
  text-weight: 500;
}
.nav-item {
  margin: auto 20px;
}

/* navbar itemm */

/* slide gambar */
.gambarGerak {
  box-sizing: content-box;
}

.carousel-item img {
  width: 100% !important;
  margin-top: 7vh !important;
}

.list-card {
  float: left !important;
}

.aktifitas {
  padding: 20px 40px;
  margin-top: -150px;
  z-index: 1000;
  position: relative;
}
/* slide gambar end */

/* isi */
.profile {
  margin-top: -257px;
  z-index: 999;
}
/* isi end */
