* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Poppins', sans-serif;
}
.btn {
  font-size: 2.5vmin;
}
.btn-primary {
  border: 1px solid #177e89 !important;
  background-color: #177e89;
  color: white;
}

.btn-primary:hover {
  border: 1px solid white !important;
  background-color: #084c61 !important;
  color: white;
  box-shadow: 0 0 0 4px #084c61;
}

.btn-primary:active {
  border: 1px solid #084c61 !important;
  background-color: #084c61 !important;
  color: white;
}
/* navbar */
body .navbar {
  font-weight: 600;
}
.nav-item {
  margin: auto 20px;
}

/* navbar end */

/* syarat */
.syarat {
  margin-top: 100px;
}

.syarat .row {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
}

.syarat .col-sm-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.syarat .atas {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  background-color: #ffc857;
  border-radius: 10px;
}

.syarat .bawah {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #084c61;
  border-radius: 10px;
  padding: 20px;
}

.bawah .btn {
  margin-top: 20px;
}

.syarat .btn {
  background-color: #177e89;
  border: rgb(23, 126, 137) solid 1px;
  margin-top: 20px;
}

.img-fluid {
  height: 250px;
}

/* syarat end */

/* /* footer * */

.footer {
  background-color: #084c61;
  padding: 40px 0;
  color: #fff;
}

.footer iframe {
  width: 80%;
  height: 300px;
}

.footer h1 {
  font-weight: 400;
  margin-top: 20px;
}

.footer i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.footer .alamat p,
.telfon p,
.instagram p,
.facebook p {
  text-align: center;
  font-size: 0.7rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.row {
  transform: scale(0.95);
  transition: transform 0.3s ease;
}
/* footer end */

/* media quere */
@media (max-width: 768px) {
  .bawah {
    padding: 20px;
  }

  .bawah .btn {
    margin-top: 10px;
  }
  .footer .alamat p {
    padding: none;
  }
  .footer .alamat p,
  .telfon p,
  .instagram p,
  .facebook p {
    text-align: center;
    font-size: 0.5rem;
  }
  .copy p {
    font-size: 0.5em;
    font-weight: bold;
  }

  .pmi {
    text-align: center;
  }

  .pmi {
    flex: 1;
    order: 1;
  }

  .pmi h1 {
    font-size: 24px;
    margin-right: 10%;
  }

  .maps {
    margin-left: 9%;
  }

  .met {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
  }

  .met > div {
    flex: 1;
    margin: auto;
  }
  .alamat p,
  .telfon p,
  .instagram p,
  .facebook p {
    display: none;
  }
}

@media (max-width: 991px) {
  .col-sm-6 {
    margin-bottom: 20px;
  }
}
