* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Poppins', sans-serif;
}
.btn {
  font-size: 2.3vmin;
}
.btn-primary {
  border: 1px solid #177e89 !important;
  background-color: #177e89;
  color: white;
}

.btn-primary:hover {
  border: 1px solid #084c61 !important;
  background-color: #084c61 !important;
  color: white;
  box-shadow: 0 0 0 4px #084c61;
}

.btn-primary:active {
  border: 1px solid #084c61 !important;
  background-color: #084c61 !important;
  color: white;
}

/* navbar */
body .navbar {
  font-weight: 600;
}
.nav-item {
  margin: auto 30px;
}

/* navbar end */

/* isi */
.cari {
  margin-top: 100px;
}
.icon {
  margin-left: -48px;
}
.form-control {
}

.cari .tombol {
  background-color: #177e89;
}
::placeholder {
  color: white !important;
  opacity: 0.3 !important;
}

.cari input {
  background-color: #084c61 !important;
  border: none !important;
  color: white;
  font-size: 3vmin;
}

/* isi end */

/* informasi */

.info {
  background-color: #084c61;
}

.info .tanggal {
  background-color: #177e89;
  padding: 5px;
}

.info .alert-bisa span {
  background-color: #ffc857;
  border-radius: 5px;
  color: #13b436;
}

.info .alert-tidak span {
  background-color: #ffc857;
  border-radius: 5px;
  color: #ff0000;
}

/* informasi end */

/* data */

.data hr {
  margin-top: -3px;
  color: white;
}

.isi-inden {
  font-size: 3vmin;
}

.cont-iden,
.cont-riwayat {
  position: relative;
}

.banner-iden,
.banner-riwayat {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  width: 95%;
  height: 50px;
  background-color: #ffc857;
  padding: 10px;
  z-index: 1;
  border-radius: 30px;
}
.isi-inden,
.isi-riwayat {
  position: relative;
  height: 450px;
  width: 100%;
  background-color: #084c61;
  border-radius: 30px;
  color: #ffc857;
}

.btn-mobile {
  background-color: #177e89;
  border: rgb(23, 126, 137) solid 1px;
}

/* data end */

/* /* footer * */
.footer {
  background-color: #084c61;
  padding: 40px 0;
  color: #fff;
}

.footer iframe {
  width: 80%;
  height: 300px;
}

.footer h1 {
  font-weight: 400;
  margin-top: 20px;
}

.footer i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.footer .alamat p,
.telfon p,
.instagram p,
.facebook p {
  text-align: center;
  font-size: 0.7rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.row {
  transform: scale(0.95);
  transition: transform 0.3s ease;
}
/* footer end */

/* media quere */
@media (max-width: 768px) {
  .data input {
    text-align: start !important;
  }

  .footer .alamat p {
    padding: none;
  }
  .footer .alamat p,
  .telfon p,
  .instagram p,
  .facebook p {
    text-align: center;
    font-size: 0.5rem;
  }
  .copy p {
    font-size: 0.5em;
    font-weight: bold;
  }

  .pmi {
    text-align: center;
  }

  .pmi {
    flex: 1;
    order: 1;
  }

  .pmi h1 {
    font-size: 24px;
    margin-right: 10%;
  }

  .maps {
    margin-left: 9%;
  }

  .met {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
  }

  .met > div {
    flex: 1;
    margin: auto;
  }
  .alamat p,
  .telfon p,
  .instagram p,
  .facebook p {
    display: none;
  }

  .info .gambar {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .footer .alamat p,
  .telfon p,
  .instagram p,
  .facebook p {
    text-align: center;
    font-size: 0.5rem;
  }

  .copy p {
    font-size: 0.5em;
    font-weight: bold;
  }
}
