body {
    font-family: 'Poppins', sans-serif;
  }
  
  .gambarGerak {
    box-sizing: content-box;
  }

.carousel-item  img{
  width: 100% !important;
  height: 93vh !important;
  margin-top: 7vh !important;

}

.list-card{
  float:left !important;
}
  